.photo-grid__item {
    margin: 0;
    padding: 0;
    max-width: 284px;
    /*max-height: 213px;*/
    /*border: 1px solid green;*/
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
        /*max-height: 225px;*/
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__item {
        max-width: 288px;
    }
}