.header {
    margin: 28px auto 0;
    padding: 0;
    max-width: 1184px;
    /*max-height: 52px;*/
    position: relative;
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 424px) {
    .header {
        margin-top: 16px;
        max-width: 288px;
        /*max-height: 42px;*/
    }
}