.footer__copyright {
    margin: 0 0 0 auto;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    /*text-align: right;*/

    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 14px;
    }
}