.cover__title {
    margin: 245px auto 0;
    padding: 0;
    width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    position: relative;

    text-align: center;

    color: #FFFFFF;


    z-index: 3;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin-top: 33px;
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
}