.place {
    margin: 0 0 80px;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    grid-template-rows: max-content 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;

    /*border: 1px solid yellow;*/
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-column-gap: 32px;
        grid-template-columns: fit-content(440px) 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
        grid-column-gap: 28px;
        grid-template-columns: fit-content(340px) 1fr;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-row-gap: 32px;

    }
}